@charset "UTF-8";

/* 共通部分 */
html{
  font-size: 100%;
  width: 100%;
  height: 100%;
  /*box-sizing: border-box;*/
}

body{
  font-size: 1rem;
  color: #000000;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  /*box-sizing: inherit;*/
}

div{
  box-sizing: border-box;
}

iframe{
  width: 100%;
  height:100%;
  margin:0px;
  padding:0px;
  border:none;
}


.base {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*
  width: 100vw;
  height: 100vh;
  */
}

.title {
  width: auto;
  height: 58px;
  border-bottom: 1px silver solid;
  box-sizing: border-box;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex: 1;
}

.items_list {
  width:  300px;
  height: auto;
}

.content {
  height: auto;
  flex: 1;
}
